<?xml version="1.0"?>
<!--
/**
* Romano van Kempen 2019
**/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sanoma>
            <basic>
                <enabled>1</enabled> 
            </basic>
        </sanoma>
        <sanoma>
            <configurable_cron>
                <schedule_cronjob>0</schedule_cronjob> 
            </configurable_cron>
        </sanoma>
    </default>
</config>
